.dev{
border: 1px solid black;
}
.App {
  text-align: center;
}
.navbar {
  height: 10vh;
 padding-top: 20px;

}
.hamburger{
  display: flex;
  flex-direction: column;
}
.hamburger{

}


.light{
  background-color: white;
 opacity: 0.2; 
}
.light a:hover{
border-bottom: 4px solid red;
border-radius: 3px;
transition: .2s;
}
.light, .light a, .light p{
  color: black !important;
  font-weight: bold;
}
.jumbotron-fluid {  
  height: 100vh;
  background-image: url("/img/hero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.buttonbgd{
  background-color: black;
  opacity: 0.8;
  position: absolute;
  bottom: 2vh;
  right: 30px;
  border-top: 4px solid white;
  border-right: 4px solid white;
  border-bottom: 4px solid white;  
  outline-style:none;
}
.button {
  display: inline-block;
  /* opacity: 0.5; */
  background-color: transparent ;

  color:white;
  text-align: center;
  font-size: 38px;
  padding: 20px;  
  transition: all 0.5s;
  cursor: pointer;
  /* margin: 5px; */
  outline-style:none;

}
.buttonbgd:hover{
  transform: scale(1.1);
  transition: 0.5s;
}
